@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
nav {
  opacity: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  z-index: 1;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-content {
  max-width: 2550px;
  margin: auto;
  padding: 1.2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #3ab4ec;
  transition: 0.3s;
}
nav .logo a:hover {
  color: #04a3ff;
}
nav .checkbox {
  display: none;
}
nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: #3ab4ec;
  cursor: pointer;
}
nav .close-menu {
  display: none;
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  font-size: 2rem;
  color: #3ab4ec;
  cursor: pointer;
}

nav input:checked ~ .close-menu {
  display: block;
}

nav input:checked ~ .checkbox {
  display: none;
}


ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}
ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: #1f2937;
  transition: 0.3s;
}
ul li a:hover {
  color: #04a3ff;
}

.section {
  background-color: #EBF7FD;
  margin-top: 30px;
}
.section-container {
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sub {
  letter-spacing: 2px;
  color:#6b7280;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: #1f2937;
  margin-bottom: 1rem;
}
.title span {
  font-weight: 600;
}
.des {
  line-height: 1.5rem;
  color: #6b7280;
  margin-bottom: 2rem;
}
.action-btns {
  display: flex;
  gap: 1rem;
}
.action-btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid #3ab4ec;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.hire-me {
  background-color: #3ab4ec;
  color: #b6cdd4;
}
.hire-me:hover {
  background-color: #04a3ff;
}
.portfolio {
  color: #3ab4ec;
}
.portfolio:hover {
  background-color: #04a3ff;
  color: #b6cdd4;
}
.image {
  display: grid;
  place-items: center;
}
.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}
.social{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  margin-top: 30px;
}
.social h3{
  color: #6b7280;
  margin-right: 10px;
}
.social a{
  width: 40px;
  height: 40px;
  border: 1px solid #bbb;
  border-radius: 30%;
  margin: 5px;
  background: #d29254;
  color: #1f2937;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a:hover{
  background: #3ab4ec;
}
.social i{
  font-size: 24px;
  margin: 10px;
}

footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #e7e7e7;
}

footer p {
  margin: 0;
  color: #6c757d;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }
  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: #e1e1e1;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }
  nav #check:checked ~ ul {
    left: 0;
  }
  ul li a {
    font-size: 1.25rem;
  }
  .section-container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .image {
    grid-area: 1/1/2/2;
  }
  .action-btns,
  .social {
    margin: auto;
  }
  .social{
    margin-top: 30px;
  }
}
